@import "../app.scss";

.RightBox {
  // @include flexCenter();
  // position: absolute;
  display: inline-block;
  width: 20rem;
  height: 40rem;
  right: 100px;
  margin:20% 5%;

  .btnGroup {
    margin-right: auto;
  }
}
