@import "../app.scss";

.RightBox {
  // @include flexCenter();
  // position: absolute;
  display: inline-block;
  width: 20rem;
  height: 40rem;
  right: 100px;
  margin: 20rem 15rem;

  .btnGroup {
    margin-right: auto;
  }
  .tip-container{
    margin-top: 200px;
  }
}
