.MidBox {
    position: relative;
    margin: 0 auto;
    width: 40rem;
    height: 40rem;
    &::after {
        position: absolute;
        content: "";
        width: 50px;
        height: 70px;
        background: url("../resources/picker.png") no-repeat;
        background-size: 32px;
        right: -40px;
        top: 300px;
        transform: rotate(90deg);
    }

    .middleBoxPie {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 50%;
        border: 10px solid #fff;
        overflow: hidden;
        transition: all ease 5s;
        li {
            overflow: hidden;
            position: absolute;
            top: -20%;
            right: -20%;
            width: 70%;
            height: 70%;
            transform-origin: 0% 100%;
        }
    }

    // .middleBoxPie__pieSlice {
    //     transform: rotate(0deg) skewY(122.727deg);
    //     background: rgb(253, 99, 99);
    // }
    .middleBoxPie__pieSliceName {
        position: "absolute";
        color: "#fff";
        left: "-100%";
        width: "200%";
        height: " 200%";
    }

    .middleBoxPie__pieSliceName {
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family: monospace;
        font-weight: bold;
        left: -100%;
        width: 200%;
        height: 200%;
        text-align: center;
        transform: skewY(57.2727deg) rotate(16.3636deg);
        padding-top: 200px;
    }

    .middleBoxSpin {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 75px;
        width: 75px;
        border-radius: 50%;
        border: 4px solid #fff;
        background-color: #ff5722;
        color: #fff;
        box-shadow: 0 5px 20px #000;
        font-weight: bold;
        font-size: 22px;
        cursor: pointer;
        &:active {
            width: 70px;
            height: 70px;
            font-size: 20px;
        }
        &:focus {
            outline: 0 !important;
        }
    }
}
