.toggle-tip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  

  .tip-title {
    color: #ff6565;
    font-size: 20px;
    border-bottom: 1px dotted #ff6565;
    cursor: pointer;
  }
  .tip-content {
    width: 100%;
    margin-top: 10px;
    background-color: #ff6565;
    color: #fff;
    border-radius: 10px;
    padding: 5px 0;
  }
}
