button {
  background-color: white;
  padding: 8px 20px;
  text-align: center;
  display: block;
  font-size: 20px;
  font-family: monospace;
  margin: 25px 0;
  cursor: pointer;
  &:focus {
    outline: 0 !important;
  }
}
.standup {
  width: 250px;
  color: #6f71f8;
  border: 2px solid #6f71f8;
  &:hover {
    background-color: #6f71f8;
    color: white;
  }
  &:disabled {
    background-color: #6f71f8;
    color: white;
  }
}
.retro {
  width: 250px;
  color: #f51d9b;
  border: 2px solid #f51d9b;
  &:hover {
    background-color: #f51d9b;
    color: white;
  }
  &:disabled {
    background-color: #f51d9b;
    color: white;
  }
}
.sprint-planning {
  width: 250px;
  color: #fac248;
  border: 2px solid #fac248;
  &:hover {
    background-color: #fac248;
    color: white;
  }
  &:disabled {
    background-color: #fac248;
    color: white;
  }
}

.origin {
  color: black;
  border: 2px solid black;
  &:hover {
    background-color: black;
    color: white;
  }
}

.shuffleBtn{
  margin: 4rem auto;
  color:  #ff5722;
  border: 2px solid #ff5722;
  &:hover {
    background-color:  #ff5722;
    color: white;
  }
}
