.candidate-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin: 8px;
    cursor: pointer;
  }

  label {
    font-size: 18px;
  }

  .delete{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }
}
